.about .container {
    min-height: 100vh;
}

.about .components {    
    display: flex;
    align-items: center;
    justify-content: center;
}

.about .title, .about .location {
    color: var(--heading-color);
    font-family: "Inter", Arial, Helvetica, sans-serif;
}

.about .description {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.about .location {
    font-size: 26px;
    font-weight: bold;
}

.about .read-more-btn {
    background-color: var(--primary-color);
    color: var(--white-color);
    font-weight: 500;
    border: none;
    border-radius: 10px;
    transition: 0.3s all;
}
.about .read-more-btn:hover {
    background-color: var(--sub-color);
}