.contact-page .contact {
    background-color: var(--sub-sub-color);
    background-image: url("../assets/menu-bg.png");
    background-repeat: repeat;
    background-size: contain;
}

.contact-page .contact .header-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
}

.contact-page .contact .header-section h1 {
    margin: 0;
}

.contact-page .contact .header-section p {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    font-weight: 400;
    color: var(--white-color);
    margin: 0;
    text-align: center;
    width: 65%;
}

.contact-page .contact .contact-section {
    background-color: rgb(237, 242, 238);
    padding: 50px 0;
}

.contact-page .contact .contact-component {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}

.contact-page .contact .contact-info-section {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding-right: 20px;
}

.contact-page .contact .contact-info-section h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 2.5em;
    font-weight: bold;
    color: var(--sub-sub-color);
}

.contact-page .contact .contact-info-section p {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    font-weight: 400;
    color: var(--sub-color);
}

.contact-page .contact .contact-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contact-page .contact .item {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    margin-bottom: 20px;
}

.contact-page .contact .item .list-icon {
    color: var(--white-color);
    background-color: var(--primary-color);
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-page .contact .item .address li,
.contact-page .contact .item p {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    font-weight: 400;
    color: var(--text-color);
    margin: 0;
}

.contact-page .contact .item .text {
    color: var(--primary-color);
    font-weight: 600;
    font-size: 1.25em;
    margin-bottom: 7px;
}

.contact-page .contact .item ul {
    padding: 0;
}

.contact-page .contact .item .address li {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 5px;
    color: var(--text-color);
    transition: 0.1s ease;
    user-select: none;
    cursor: pointer;
}

.contact-page .contact .item .address li:hover {
    color: var(--primary-color);
}
.contact-page .contact .item .address li.active {
    color: var(--sub-color-1);
}

.contact-page .contact .social-links {
    display: flex;
    flex-direction: column;
    border-top: 1.5px solid var(--sub-color-1);
}

.contact-page .contact .social-links .text{
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    font-weight: 500;
    color: var(--text-color);
    margin: 4px 0;
}

.contact-page .contact .social-media {
    display: flex;
    gap: 20px;
    padding: 0;
}

.contact-page .contact .social-media li {
    list-style-type: none;
    background-color: var(--sub-sub-color);
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.1s ease;
}

.contact-page .contact .social-media li:hover {
    background-color: var(--sub-color);
}

.contact-page .contact .social-media li a {
    color: var(--white-color);
}

/*--- Left hand side ---*/
.contact-page .contact .submit-form {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--white-color);
    border-radius: 20px;
    padding: 20px 0;
    height: 550px;
}

.contact-page .contact .submit-form h4{
    font-family: 'Roboto', sans-serif;
    font-size: 2em;
    font-weight: 500;
    color: var(--primary-color);
    margin: 20px 0;
}

.contact-page .contact .submit-form form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact-page .contact .input-box {
    height: 40px;
    width: 100%;
    position: relative;
}

.contact-page .contact .input-box .input {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    width: 100%;
    height: 100%;
    background: transparent;
    border: 2px solid var(--sub-sub-color);
    border-radius: 5px;
    outline: none;
    padding-left: 10px;
    font-size: 16px;
}

.contact-page .contact .input-box label {
    position: absolute;
    top: 50%;
    left: 10px;
    padding-left: 10px;
    transform: translateY(-50%);
    font-size: 16px;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-weight: 500;
    color: var(--sub-sub-color);
    transition: 0.3s;
}

.contact-page .contact .input-box .input:focus ~ label,
.contact-page .contact .input-box .input:valid ~ label {
    top: -1px;
    left: 10px;
    background: var(--white-color);
    font-weight: 500;
    font-size: 12px;
    padding: 5px;
}

.contact-page .contact textarea.input {
    resize: none;
    min-height: 150px;
    overflow: auto;
}

.contact-page .contact .submit-btn {
    position: relative;
    top: 100px;
    background-color: var(--primary-color);
    color: var(--white-color);
    outline: none;
    border: none;
    border-radius: 50px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 600;
    transition: 0.3s all;
}

.contact-page .contact .submit-btn:hover {
    background-color: var(--sub-sub-color);
    color: var(--white-color);
}

.contact-page .map {
    height: 500px;
}

/* Small screen */
@media (max-width: 768px) {
    .contact-page .contact .contact-component {
        flex-direction: column;
    }

    .contact-page .contact .submit-form,
    .contact-page .contact .contact-info-section {
        width: 100%;
    }

}