.hero-section {
    padding: 3.2rem 1.5rem;
    background-color: var(--background-color);
    height: 100vh + 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-section p {
    font-size: 1.8rem;
    line-height: 1.7;
    letter-spacing: 0.3px;
}

.hero-section .hero-text {
    margin-right: 50px;
}

.hero-section .title {
    padding-top: 2.5em;
    color: var(--primary-color);
    font-family: "Madimi One", Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 3em;
}

.hero-section .title span {
    color: var(--sub-sub-color);
}

.hero-section .description {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    color: var(--sub-color);
    font-size: 20px;
    margin-bottom: 30px;
}

.hero-img {
    width: 80%;
    height: 50%;
    border-radius: 20px;
    padding-top: 10px;
}

.hero-section .order-btn{
    background-color: var(--primary-color);
    color: var(--sub-sub-color);
    padding: 8px 24px;
    font-size: 1.8rem;
    font-weight: 500;
    border-radius: 10px;
    text-decoration: none;
    transition: 0.2s ease;
}

.hero-section .order-btn:hover{
    background-color: var(--sub-sub-color);
    color: var(--white-color);
}
/*-- Main --*/
.section-title, 
.contact-section-title,
.news-title {
    font-family: 'Madimi One', Arial, Helvetica, sans-serif;
    font-size: 48px;
}
.section-title {
    color: var(--sub-color-1)!important;
}
.contact-section-title {
    color: var(--white-color)!important;
}

.news-section {
    background-color: var(--primary-color);
}
.news-title {
    color: var(--white-color);
}

@media (max-width: 768px){
    .hero-section {
        display: block;
        text-align: center;
    }

    .hero-section p {
        font-size: 1rem;
        line-height: 1.7;
        letter-spacing: 0.3px;
    }
    
    .hero-section .title {
        font-size: 2.2em;
    }
}
