/*--- Menu ---*/

.sec-wp {
    position: relative;
    z-index: 4;
    font-family: 'Roboto', sans-serif;
}

.menu .container-fluid {
    background-image: url(../assets/menu-header-bg.jpg);
    background-size: cover;
}

.sec-wp .body-section {
    min-height: 100vh;
    padding: 30px 0;
}

.repeat-img {
    background-image: url(../assets/menu-bg.png);
    background-size: contain;
    background-repeat: repeat;
}

.menu .sec-title .h3-title {
    color: var(--sub-color);
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-weight: 500;
}

.menu .sec-title {
    padding-top: 40px;
}

.menu .sec-title a {
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500;
    color: var(--sub-sub-color);
}

.menu .sec-title .current{
    color: var(--sub-color-1);    
    font-size: 1.1em;
    font-weight: 500;
}

.menu .wrapper {
    display: flex;
}

.menu .menu-sidebar {
    width: 20%;
    padding: 0 20px;
}

.menu .menu-sidebar .searchForm {
    width: 100%;
    padding: 0;
    position: relative;
}

.menu .menu-sidebar .search .search-input{
    width: 100%;
    background-color: var(--food-card-color);
}

.menu .menu-sidebar .search .search-input:focus{
    box-shadow: none;
    outline: none;
    border: 1px solid var(--sub-sub-color);
}

.menu .menu-sidebar .search .search-btn{
    position: absolute;
    right: 0;
    height: 100%;
    background-color: var(--sub-sub-color);
    border-radius: 0 5px 5px 0;
    transition: 0.2s ease;
}

.menu .menu-sidebar .search .search-btn:hover{
    background-color: var(--sub-color);
}

.menu .menu-sidebar .search .search-btn i{
    color: var(--white-color);
}

.menu .menu-sidebar .type-filter {
    background-color:  var(--food-card-color);
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    user-select: none;
    border-radius: 20px;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}

.menu .menu-sidebar .type-filter h3 {
    font-size: 1.5em;
    padding: 20px 0 30px 10px;
    margin: 0;
    border-bottom: 1.5px solid rgb(209, 207, 202);
    color: var(--sub-sub-color);
}

.menu .menu-sidebar ul {
    padding-left: 0;
    width: 100%;
}
.menu .menu-sidebar li {
    list-style-type: none;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border-bottom: 1.5px solid rgb(209, 207, 202);
    color: var(--text-color);
    transition: 0.2s ease;
    text-align: left;
}
.menu .menu-sidebar li:hover {
    color: var(--primary-color);
}

.menu .menu-sidebar .type-filter .filter.active {
    color: var(--sub-color-1);
}

.menu .menu-sidebar .price-filter {
    background-color: aqua;
    margin-bottom: 20px;
}

.menu .menu-list-row {
    width: 80%;
    padding: 10px 0px;
    box-sizing: border-box;
    overflow: hidden; /* Prevents content from overflowing */
    background-color: var(--white-color);
    border-radius: 20px;
}

.menu .menu-list-row .menu-dish {
    display: flex;
    flex-wrap: wrap;
    padding: 0 30px;
}

.menu .menu-list-row .dish-box-wp{
    padding: 5px;
}

.menu .menu-list-row .dish-box {
    background-color: var(--food-card-color);
    border-radius: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    height: 100%;
    border: 2px solid transparent; 
    transition: 0.2s ease;
}

.menu .menu-list-row .dish-box:hover {
    border: 2px solid var(--primary-color);
}

.menu .menu-list-row .dish-box .dish-img,
.menu .menu-list-row .dish-box .dish-title {
    cursor: pointer;
}

.menu .menu-list-row .dish-box .dish-rating {
    font-size: 1.25em;
    color: var(--text-color);
}

.menu .menu-list-row .dish-box .dish-rating i{
    color: var(--primary-color);
}

.menu .menu-list-row .dish-box .category {
    margin-top: 5px;
    background-color: var(--primary-color);
    color: var(--white-color);
    font-size: 1em;
    font-weight: 400;
    border-radius: 10px;
    padding: 3px 20px; /* Adds spacing around the text */
    display: inline-block; 
    margin-left: auto; /* Centers the element horizontally */
    margin-right: auto; /* Centers the element horizontally */
}

.menu .menu-list-row .dish-box .description {
    color: var(--text-color);
    font-size: 1em;
    font-weight: 400;
    text-align: justify;
    padding: 5px 15px;
    user-select: none;
}

.menu .menu-list-row .dist-bottom-row {
    margin-top: auto; /* Pushes it to the bottom */
    margin-bottom: 10px; /* Adds 10px space from the bottom */
}

.menu .menu-list-row .dist-bottom-row ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
}

.menu .menu-list-row .dist-bottom-row li {
    list-style-type: none;
}

.menu .menu-list-row .dist-bottom-row .price {
    font-size: 1.5em;
    font-weight: 500;
    color: var(--sub-color-1);
    user-select: none;
}

.menu .menu-list-row .dist-bottom-row .dish-add-btn {
    border: none;
    border-radius: 10px;
    display: flex;
    align-items: center;
    background-color: var(--sub-sub-color);
    color: var(--white-color);
    padding: 10px 20px;
    gap: 10px;
    transition: 0.2s ease;
}

.menu .menu-list-row .dist-bottom-row .dish-add-btn:hover {
    background-color: var(--sub-color);
}

@media (min-width: 768px) {
    .menu .menu-selections {
        display: none;
    }
}

/* Small screen */
@media (max-width: 768px) {

    .menu .wrapper .menu-sidebar {
        display: none;
    }

    .menu .menu-list-row .dist-bottom-row{
        justify-content: center;
    }

    .menu .menu-list-row .dist-bottom-row .dish-add-btn span {
        display: none;
    }

    .menu .menu-list-row .dist-bottom-row .dish-add-btn{
        padding: 12px;
    }

    .menu .menu-list-row {
        width: 100%;
    }

    .menu .wrapper {
        flex-direction: column;
    }

    .menu .menu-selections {
        background-color: red;
    }

}