/*--- Menu ---*/

.sec-wp {
    position: relative;
    z-index: 4;
}

.sec-wp .container {
    min-height: 100vh;
}

.sec-title .h3-title {
    color: var(--sub-color);
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-weight: 500;
}

.repeat-img {
    background-image: url(../assets/menu-bg.png);
    background-size: contain;
    background-repeat: repeat;
}

.menu-tab-wp {
    margin-bottom: 80px;
}

.filter-bar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-tab {
    width: 50%;
}

.menu-tab .filters {
    padding: 10px;
    display: flex;
    border-radius: 60px;
    background: var(--background-color);
    color: var(--sub-sub-color);
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-weight: 500;
    position: relative;
    z-index: 2;
    justify-content: center;
    align-items: center;
}

.menu-tab ul li,
.menu-tab ul .filter-active {
    display: inline-flex;
    font-size: 18px;
    line-height: normal;
    cursor: pointer;
    padding: 10px 26px;
    border-radius: 30px;
    transition: 0.3s;
    justify-content: center;
    align-items: center;
}

.filter-active {
    position: absolute;
    left: 0;
    height: 80%;
    min-height: 50px;
    z-index: -1;
}

.menu-tab ul li img {
    margin-right: 10px;
    position: relative;
    top: 1px;
}

.menu-tab ul .filter-active {
    color: #ffffff;
    background-color: var(--primary-color);
}

.menu-list-row .bydefault_show .dish-box-wp {
    display: inline-block !important;
}

.dish-box-wp {
    display: none;
}

.dish-box {
    border-radius: 30px;
    background-color: var(--background-color);
    display: flow-root;
    padding: 0 30px 40px;
    padding-top: 0;
    margin: 130px 0 30px;
    transition: 0.8s cubic-bezier(0.22, 0.78, 0.45, 1.02);
}

.dish-box:hover {
    transform: scale(1.03);
}

.dist-img {
    margin-top: -130px;
    margin-bottom: 30px;
}

.dist-img img {
    border-radius: 50%;
    overflow: hidden;
}

.dish-rating {
    font-size: 20px;
    margin-bottom: 15px;
}
.dish-rating .star-icon {
    color: var(--primary-color);
}

.dish-title {
    padding: 0 30px;
}

.dish-title .h3-title {
    margin-bottom: 2px;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    color: var(--sub-color);
    transition: 0.3s;
    min-height: 76px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-weight: 900;
}

.dish-title p {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    color: var(--sub-sub-color);
    border-bottom: 2px solid rgb(204 204 204 / 30%);
    padding-bottom: 20px;
}

.dist-bottom-row ul {
    display: flex;
    justify-content: space-between;
    text-align: left;
}

.dist-bottom-row ul li:last-child {
    text-align: right;
}

.dist-bottom-row {
    padding: 0 30px;
}

.dist-bottom-row ul li {
    display: flex;
    align-items: center;
}

.dist-bottom-row ul li b {
    font-size: 26px;
}

.dish-add-btn {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 10px;
    color: #ffffff;
    transition: 0.3s;
    background-color: rgb(255, 188, 0);
}

.dish-add-btn i {
    color: #ffffff;
    font-size: 22px;
}

.dish-add-btn:hover {
    background: linear-gradient(145deg, #e3a92b, #ffc933);
}