/*--- Header/Navigation ---*/
.navbar {
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-size: 1em;
    font-weight: bold;
}

/* For transparent navbar*/
.navbar-scrolled {
    background-color: var(--primary-color);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
}

/* Logo name */
.brand-name {
    font-family: 'Righteous', Arial, Helvetica, sans-serif;
    font-size: 1.5em!important;
    font-weight: 500!important;
    color: var(--sub-sub-color)!important;
    transition: 0.1s ease;
}

/* Change color in contact page */
.brand-name-contact {
    color: var(--white-color)!important;
}

/* Change color logo name */
.brand-name-scrolled {
    color: var(--white-color)!important;
}

.brand-logo{
    height: 1em;
    width: 1em;
    transform: translateY(3px);
}

.navbar .navbar-toggler {
    border: none;
    font-size: 1.25rem;
    transition: none;
}

.navbar .navbar-toggler:focus {
    box-shadow: none;
    outline: none;
}

.nav-btn {
    color: var(--sub-sub-color)!important;
    position: relative;
    padding: 13px 3px!important;
}

/* change in contact page */
.nav-btn-contact {
    color: var(--white-color)!important;
}

.dropdown-menu {
    background-color: var(--white-color)!important;
    border: none !important;
    transition: all 0.3s ease;
}

.dropdown-item {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 14px;
    transition: all 0.3s ease;       
}

.dropdown-item:hover {
    background-color: var(--primary-color) !important;
    color: var(--white-color) !important;
}

.offcanvas-body {
    transition: none;
}

.navbar .other-btn li {
    display: inline-block;
}

.other-btn .logout-btn i {
    margin-right: 5px; /* Adjust margin as needed */
    font-size: 1.5em;
    padding: 1px 0;
    color: var(--sub-sub-color);
}

.other-btn .logout-btn-scrolled i {
    color: var(--white-color) !important;
}

.other-btn .username {
    color: var(--sub-sub-color)!important;
    font-weight: 500 !important;
    position: relative;
    padding: 13px 3px!important;
}

.other-btn .username-scrolled {
    color: var(--white-color)!important;
}

.nav-item .username:hover {
    color: var(--sub-color)!important;
}

.search-bar:focus {
    box-shadow: none;
    outline: none;
}

/* Large screen */
@media (min-width: 768px){

    .search-large-screen {
        display: flex;
        margin-right: 20px;
        align-items: center;
    }

    .search-large-screen .search-bar:focus {
        outline: none;
        box-shadow: none;
    }

    .search-large-screen .search-bar {
        border-radius: 5px;
        margin: 5px 0;
        border: none;
    }

    .search-large-screen .search-button {
        background-color: var(--primary-color);
        color: var(--white-color);
        border: none;
        border-radius: 0 5px 5px 0;
        cursor: pointer;
        transform: translateX(-100%);
        height: 76%;
    }

    .search-large-screen .search-button:hover {
        background-color: var(--sub-sub-color);
    }

    .search-large-screen .search-bar::placeholder {
        color: var(--sub-text-color);
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
    }

    .search-small-screen {
        display: none;
    }

    /* Signup button */
    .signup-button {
        border: 2px solid var(--primary-color)!important;
        color: var(--primary-color)!important;
        padding: 11px 13px!important;
        border-radius: 50px;
        text-decoration: none;
    }

    .signup-button-scrolled {
        border: 2px solid var(--sub-sub-color)!important;
        color: var(--sub-sub-color)!important;
    }

    .signup-button:hover {
        border: 2px solid var(--primary-color)!important;
        background-color: var(--primary-color);
        color: var(--sub-sub-color)!important;
    }

    .signup-button-scrolled:hover {
        border: 2px solid var(--sub-sub-color)!important;
        background-color: var(--sub-sub-color);
        color: var(--white-color)!important;
    }

    /* Login button */
    .login-button {
        border: 2px solid var(--primary-color)!important;
        background-color: var(--primary-color) !important;
        color: var(--sub-sub-color)!important;
        padding: 11px 13px!important;
        border-radius: 50px;
        text-decoration: none;
    }

    .login-button-scrolled {
        border: 2px solid var(--sub-sub-color)!important;
        background-color: var(--sub-sub-color) !important;
        color: var(--white-color)!important;
    }

    .login-button:hover {
        border: 2px solid var(--primary-hover)!important;
        background-color: var(--primary-hover) !important;
        color: var(--white-color)!important;
    }

    .login-button-scrolled:hover {
        border: 2px solid var(--sub-color)!important;
        background-color: var(--sub-color) !important;
        color: var(--white-color)!important;
    }
    
    .other-btn .logout-btn {
        position: relative;
        padding: 13px 3px!important;
    }

    .offcanvas-body .logout-btn {
        display: none;
    }

    .nav-btn-scrolled {
        color: var(--white-color)!important;
    }

    .nav-btn:before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 4px;
        background-color: var(--primary-color);
        visibility: hidden;
        transition: 0.1s ease-in-out;
    }

    .nav-btn-scrolled:before {
        background-color: var(--sub-sub-color)!important;
    }

    .nav-btn:hover:before,
    .nav-btn.active:before {
        width: 100%;
        visibility: visible;
    }

    .dropdown:hover > .dropdown-menu {
        display: block;
        margin-top: 0;
    }
}

/* Small screen */
@media (max-width: 768px){

    .search-large-screen {
        display: none;
    }

    .search-form {
        width: 50%;
    }

    .search-small-screen {
        display: flex;
        margin-right: 20px;
        align-items: center;
        width: 100%;
        margin-left: 10px;
    }

    .search-small-screen .search-bar:focus {
        outline: none;
        box-shadow: none;
    }

    .search-small-screen .search-bar {
        border-radius: 5px;
        margin: 5px 0;
        border: none;
    }

    .search-small-screen .search-button {
        background-color: var(--primary-color);
        color: var(--white-color);
        border: none;
        border-radius: 0 5px 5px 0;
        cursor: pointer;
        transform: translateX(-100%);
        height: 78%;
    }

    .search-small-screen .search-bar::placeholder {
        color: var(--sub-text-color);
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
    }

    .navbar {
        transition: none;
    }

    .offcanvas-header, .offcanvas-body {
        background-color: var(--primary-color);
    }

    .offcanvas-header .brand-name {
        color: var(--white-color)!important;
    }

    .offcanvas-header .btn-close:focus {
        box-shadow: none;
        outline: none;
    }

    .nav-btn {
        text-align: center;
        font-weight: bold;
        color: var(--white-color)!important; 
    }

    .nav-btn:hover {
        background-color: var(--primary-hover);
    }

    .login-button, 
    .signup-button,
    .offcanvas-body .logout-btn {
        background-color: var(--sub-sub-color)!important;
        color: var(--white-color)!important;
        text-align: center !important;
        border-radius: 50px;
        text-decoration: none;
        transition: 0.1s ease;
        margin: 5px 0;
    }

    .login-button:hover, 
    .signup-button:hover,
    .nav-btn.active,
    .offcanvas-body .logout-btn:hover {
        background-color: var(--sub-color)!important;
    }

    .other-btn .logout-btn {
        display: none;
    }
    
    .other-btn .username {
        top: 5px;
    }
}